/* Tablet (768px and up) */
@media (min-width: 768px) {
    .app-bar {
        grid-area: appbar;
    }
}
  
  /* Desktop (1024px and up) */
@media (min-width: 1024px) {

}

.app-bar {
    height: 50px;
    box-shadow: var(--shadow-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

}
.app-bar .user-info {

    width: 30px;
}
.app-bar .user-info-avatar {
    width: 100%;
    border-radius: 50%;
}
.app-bar .user-info-avatar img {
    width: 100%;
    object-fit: contain;
}
.app-bar .search-bar {
    width: 75%;
    padding:0 10px;
}